# WordPress
/public/wp/
/public/content/plugins

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
composer.lock

# Node
node_modules
package-lock.json
#/public/content/themes

# Temp info
Todo.md
